<div ng-show="inscri.error" class="alert alert-danger" role="alert" translate="INSCRIT_ERROR"></div>
<div ng-show="inscri.success" class="alert alert-success" role="alert" translate="INSCRIT_SUCCES"></div>
<div class="container">
  <!-- Formulaire -->
  <form class="form-horizontal" ng-submit="inscri.addNewClient()">
  <fieldset>

  <!-- Form Name -->
  <legend translate="INSCRIT_FORM"></legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput" translate="EMAIL"></label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="email" ng-model="inscri.newClient.email" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="passwordinput" translate="PASSWORD"></label>
    <div class="col-md-4">
      <input id="passwordinput" name="passwordinput" type="password" ng-model="inscri.newClient.password" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput" translate="NOM"></label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" ng-model="inscri.newClient.nom" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput" translate="PRENOM"></label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" ng-model="inscri.newClient.prenom" class="form-control input-md">
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="radios" translate="SEX"></label>
    <div class="col-md-4"> 
      <label class="radio-inline" for="radios-0">
        <input type="radio" name="radios" id="radios-0" value="Homme" checked="checked" ng-true-value="Homme" ng-model="inscri.newClient.sexe" ><span translate="HOMME"></span></label> 
      <label class="radio-inline" for="radios-1">
        <input type="radio" name="radios" id="radios-1" value="Femme" ng-true-value="Femme" ng-model="inscri.newClient.sexe"><span translate="FEMME"></span></label>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput" translate="BIRTHDAY"></label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="date" ng-model="inscri.newClient.date" class="form-control input-md">
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea" translate="ADRESSE"></label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="textarea" ng-model="inscri.newClient.adresse" name="textarea"></textarea>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput" translate="PHONE"></label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="tel" ng-model="inscri.newClient.tel" class="form-control input-md">
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-success" translate="VALIDER"></button>
    </div>
  </div>

  </fieldset>
  </form>
</div>